

/* Own */

.no-display{
	display: none;
}


.buscador-base .drop-down li {
    cursor: default;
    border-bottom: 1px solid #edeef0;
    line-height: 40px;
    display: block;
    padding: 0px 10px 0 10px;
    text-transform: capitalize;
    white-space: nowrap;
    width: 100%;
}

.buscador-base .drop-down li:hover{
	color: white;
	background-color: #a5c926;
}



.buscador-base .drop-down{
    z-index: 1;
    position: absolute;
    background-color: white;
    margin-top: 10px;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #c8c8c8;
}


.menu-desktop .si-layout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #888;
    line-height: 1.2;
    border: none;
}

.menu-desktop .si-cat-back{
	min-width: 94px;
	position: relative;
}

#search-category{
    width: 100%;
    min-width: 90px;
    background-color: #a5c926;
    color: white;
    padding: 10px 20px 10px 15px;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    border: none;
    cursor: pointer;
}

#search-category:focus-visible{
	border: none;
	outline: none;
}

.menu-desktop fieldset{
    box-shadow: 0 0 5px 2px #ccc;
    border-radius: 35px;
}

.menu-desktop{
	flex-grow: 1;
}

.menu-desktop #value-search{
	width: 100%;
	text-align: center;
}

#search {
	width: 100%;
}

@media screen and (max-width: 991px){

	.menu-mobile .pc{
		display: none;
	}

}